/*configuracao de icones*/
.banco-icon{background-image: url("../resources/icones/banco.png") !important; background-repeat: no-repeat;}
.carta-ar-icon{background-image: url("../resources/icones/carta-ar.png") !important; background-repeat: no-repeat;}
.confirma-icon{background-image: url("../resources/icones/confirma.png") !important; background-repeat: no-repeat;}
.edit-icon{background-image: url("../resources/icones/edit.png") !important; background-repeat: no-repeat;}
.edit-folha_icon{background-image: url("../resources/icones/edit_folha.png") !important; background-repeat: no-repeat;}
.edit2-icon{background-image: url("../resources/icones/edit2.png") !important; background-repeat: no-repeat;}
.engrenagem-icon{background-image: url("../resources/icones/engrenagem.png") !important; background-repeat: no-repeat;}
.excell_2007-icon{background-image: url("../resources/icones/excell_2007.png") !important; background-repeat: no-repeat;}
.excell_2016-icon{background-image: url("../resources/icones/excell_2016.png") !important; background-repeat: no-repeat;}
.excell_2016_2-icon{background-image: url("../resources/icones/excell_2016_2.png") !important; background-repeat: no-repeat;}
.excluir-lixo-icon{background-image: url("../resources/icones/excluir-lixo.png") !important; background-repeat: no-repeat;}
.excluir-x-icon{background-image: url("../resources/icones/excluir-x.png") !important; background-repeat: no-repeat;}
.fechar-icon{background-image: url("../resources/icones/fechar.png") !important; background-repeat: no-repeat;}
.historico-icon{background-image: url("../resources/icones/historico.png") !important; background-repeat: no-repeat;}
.menos-icon{background-image: url("../resources/icones/menos.png") !important; background-repeat: no-repeat;}
.novo-icon{background-image: url("../resources/icones/novo.png") !important; background-repeat: no-repeat;}
.pdf1-icon{background-image: url("../resources/icones/pdf1.png") !important; background-repeat: no-repeat;}
.pdf2-icon{background-image: url("../resources/icones/pdf2.png") !important; background-repeat: no-repeat;}
.pdf3-icon{background-image: url("../resources/icones/pdf3.png") !important; background-repeat: no-repeat;}
.perigo-icon{background-image: url("../resources/icones/perigo.png") !important; background-repeat: no-repeat;}
.pesq-icon{background-image: url("../resources/icones/pesq.png") !important; background-repeat: no-repeat;}
.print1-icon{background-image: url("../resources/icones/print1.png") !important; background-repeat: no-repeat;}
.print2-icon{background-image: url("../resources/icones/print2.png") !important; background-repeat: no-repeat;}
.print3-preta-icon{background-image: url("../resources/icones/print3-preta.png") !important; background-repeat: no-repeat;}
.redireita-icon{background-image: url("../resources/icones/redireita.png") !important; background-repeat: no-repeat;}
.reesquerda-icon{background-image: url("../resources/icones/reesquerda.png") !important; background-repeat: no-repeat;}
.refresh-preto-h-icon{background-image: url("../resources/icones/refresh-preto-h.png") !important; background-repeat: no-repeat;}
.refresh-preto-v-icon{background-image: url("../resources/icones/refresh-preto-v.png") !important; background-repeat: no-repeat;}
.refresh-verde-h-icon{background-image: url("../resources/icones/refresh-verde-h.png") !important; background-repeat: no-repeat;}
.sair-icon{background-image: url("../resources/icones/sair.png") !important; background-repeat: no-repeat;}
.salvar-icon{background-image: url("../resources/icones/salvar.png") !important; background-repeat: no-repeat;}
.user-color-icon{background-image: url("../resources/icones/user-color.png") !important; background-repeat: no-repeat;}
.voltar-esquerda-amarelo-icon{background-image: url("../resources/icones/voltar-esquerda-amarelo.png") !important; background-repeat: no-repeat;}